<!DOCTYPE html>
<html>
<%- include('partials/head') %>

<body onload="initRoot()">
    <header>
    </header>
    <main>
        <div class="row align-items-stretch">
            <%- include('partials/navbar') %>
            <br>
            <div class="col-md-9">
            <div class="container">
                <div class="Welcome">
                    <h2>Welcome back, <span class="nickname"></span>.</h2>
                </div>
                <div class="well">
                    <div class="sort-options">
                        <!-- each option will have some kind of link passing parameter or can be linked to script -->
                        <!-- was a p -->
                        <div class="text-right">
                            <button type="button" class="btn btn-primary time-sort">Sort by time</button>
                            <button type="button" class="btn btn-primary distance-sort">Sort by distance</button>
                        </div>
                    </div>
                    <div class="well">
                        <div class="custom-options">
                            <p>Last updated: <%= (new Date()).toLocaleTimeString() %>, <%= (new Date()).toLocaleDateString() %></p>
                        </div>
                        <div id="sighting-list" class="sighting-list">
                            <div id="offlineSightings"></div>

                            <% sightings.forEach(sighting => { %>

                            <div class="row g-2">
                                <!-- image and details will be side-by-side -->
                                <div class="sighting-image col-md-2">
                                    <img class="img-fluid img-thumbnail rounded" src="<%= imagePath + sighting.img %>">
                                </div>
                                <div class="details col-md-9">
                                    <div class="container">
                                        <div class="row mb-1">
                                            <div class="col-md-3 font-weight-bold">Uploaded by:</div>
                                            <div class="col-md-9"><%= sighting.uploadedBy %></div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-3 font-weight-bold">Identification:</div>
                                            <div class="col-md-9"><%= sighting.identification %></div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-3 font-weight-bold">Time seen:</div>
                                            <div class="col-md-9"><%= sighting.dateTime %></div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-3 font-weight-bold">Coordinates:</div>
                                            <div class="col-md-9"><%= sighting.latitude %>, <%= sighting.longitude %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <a href="/sighting/<%= sighting.id %>">See more!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>

<script src="/javascripts/idb/index.js"></script>
<script src="/javascripts/database.js" type="module"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/javascripts/app.js"></script>

</body>
</html>
